<?xml version="1.0"?>
<launch>
  <!-- Launch RealSense Camera with pointcloud filter -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters" value="pointcloud"/>
    <arg name="enable_depth" value="true"/>
    <arg name="enable_color" value="true"/>
    <arg name="enable_pointcloud" value="true"/>
  </include>

  <!-- Launch the alignment node -->
  <node pkg="pointcloud_filter_testing" type="pointcloud_filter_publisher" name="pointcloud_filter_publisher" output="screen"/>

  <node name="real_sense_alignment_node" pkg="real_sense_alignment_pcl" type="real_sense_alignment_node" output="screen"/>
</launch>
