<launch>
  <!-- Define the node -->
  <node name="nearest_neighbor_node" pkg="pcl_pose_estimation" type="nearest_neighbor_node" output="screen"
        args="--k 16 --thresh 50.0 
              $(find pcl_pose_estimation)/test_data/data/cluster_4/point_cloud_frame_0_cluster_4_vfh.pcd
              $(find pcl_pose_estimation)/test_data/kdtree.idx 
              $(find pcl_pose_estimation)/test_data/training_data.h5 
              $(find pcl_pose_estimation)/test_data/training_data.list"/>
</launch>
